<div>
      <a href=".">Tests</a>
</div>


  <br><br>

<div>
  <h1>Comma Separated Value Analyzer ejs</h1>
  <div>
    Write a CSV string. Click the table button. The program outputs a table with the specified data.</i><br>
  </div>
  <table>
    <tr>
      <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
      <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
    </tr>
  </table>
  <button class="boton" type="button">table:</button><br>
  <span class="output" id="finaltable"></span>
</div>
<footer><!--pie de pagina-->
      <div id="pie">
            <a href="http://alu0100836059.github.io/pagina_personal">"    Web Personal de Jacobo"</a>
            <a href="https://github.com/noe-jacoboDSI/localstorage-jquery-underscore-express-sass">"Repositorio de la organización"</a>
            <br><br><br>
            <a href="http://dsi1516.github.io/Practica1">"Web Personal de Noé"</a><!---->
            <a href="http://noe-jacobodsi.github.io/localstorage-jquery-underscore-express-sass/test/index.html">"Test"</a>
      </div>
</footer>
